* {
    background-color: #040C18;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 30px;
    padding: 30px;
    font-family:  "Manrope", sans-serif;
    
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid red; */
   
     
}

.gpt3 {
    color: white;
    font-weight: 800;
    
}

.signin {
    /* color: white; */
    border: none;
}

.signup {
    color: white;
    background-color: #FF4820;
    border: none;
    padding: 10px;
    border-radius: 3px;
    flex: 1;
    height: 50px;
    
   
}

.header {
    display: flex;
    /* border: solid red; */
    width: 100%;
}

.header-banner {
    /* width: 100%; */
    flex: 1;
}

.links {
     display: flex;
     gap: 20px;
     justify-content: center;
     align-items: center;
     color: white;
     
   
}

.links >li {
    list-style: none;
    cursor: pointer;
   
}

.links a {
    text-decoration: none;
    color: white;
}
  

.signings {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
    /* border: solid red; */
    width: 200px;
    /* height: 50px; */
   
}

.signin a {
    text-decoration: none;
    color: white;

}

.nav-links {
    display: flex;
    gap: 20px;
}

.banner_avatar {
    width: 100%;
    height: 100%;
    /* border: solid red; */
  
  }

  .e-getstarted {
    display: flex;
    width: 100%;
    /* border: solid #FF4820; */
   
   
  }
 .header1 {
    color: plum;
    font-weight: bold;
    margin-top: 50px;
    font-size: 50px
    
   
 }

  .header-content {
    color: #81AFDD;
    /* padding: 20px; */
   /* padding: 10px 0; */
   margin: 20px 0;

  }

  .email-button {
    color: white;
    background-color: #FF4820;
    border: none;
    border: none;
    border-radius: 3px;
    padding: 0 20px;
  }

  .email {
    border: none;
    border-radius: 3px;
    background-color: #052D56;
    color: white;
    height: 60px;
    /* width: 200%  */
    flex: 1;
    padding-left: 10px;

  }

  .logos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

   
  

  .second-header {
    color: white;
    font-weight: 800;
    width: 100%;
    /* flex: 1; */
     /* margin-right: 50px; */

    
  }

  .second-header-content {
    color: #81AFDD;
    /* width: 100%; */
    

    
    
  }

  .second-flex {
    display: flex;
    /* width: 100%; */
    gap: 50px;
    margin-top: 30px;
  }

  .avatar-text {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    
  }

  .avatar-text img {
    height: 28px;
  }
  .avatar-text p {
    font-size: x-small;
  }

  .text-of-avatar {
    color: white;
  }

 .second-part-A {
    display: flex;
     
  }

  .text2 {
    color: #AE67FA;
    font-weight: bold;
    font-size: 35px
  }

  .text2-container {
    flex: 1;
    /* width: 500px;
    margin-top: 50px;
     */
  }

  .possible-container {
    display: flex;
    margin: 40px 0px;
   
  }

  .another-text {
    color: #FF8A71;
    font-size: 16px;
    font-weight: 500;

    /* display: flex;
    align-items: end;
    justify-items: end; */
  }

  /* .double-text {
    display: flex; */

  .another-text-container {
    flex: 1;
    text-align: end;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end; */
  }

  .rectangular-line {
    height: 3px;
    width: 38px;
    background-color: #F49867;

  }

  .chatbots {
    color: white;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .text3 {
    color: #81AFDD;
  }

  .request {
    color: #FF8A71;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
  }

  .cards-container {
    display: flex;
    gap: 30px;
  }

  .third-part {
    display: flex;
    gap: 60px;
    margin-top: 50px;
  }

  .thefuture {
    color: #F49867;
    font-weight: bold;
    font-size: 34px;
  }

  .alphabets {
    color: white;
  }


  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .color-text {
    color: #81AFDD;
  }

  .text-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* width: 300px; */

  }

  .flex-fourth-part {
    display: flex;
    margin-top: 50px;
    align-items: center;
    
  }

  .first-color {
    color: #71E5FF;
  }

  .second-color {
    color: #F49867;
    font-weight: bold;
    font-size: 34px;
    margin-top: 20px;

  }

  .third-color {
    color: #81AFDD;
    margin-top: 20px;
  }
 
.fourth-color {
    color: #FF8A71;
    margin-top: 30px;
}
 

 .text-bgr {
    background-color: #F49867;
    /* width: 100%; */
    /* flex: 1; */
 }

 .button-div {
    height: 50px;
    width: 150px;
    border-radius: 20px;
   
    /* flex: 1; */

 }


 /* ctn experiment */
 .cta {
    background-color: #F49867;
    color: #fff;
    display: flex;
    padding: 30px;
    margin-top: 20px;
 }
 .cta_text-container {
    background-color: #F49867;
 }
 .cta_text-container p {
    color: #000;
    background-color: #F49867;
 }

 .cta__button {
    color: white;
    padding: 15px;
    border-radius: 7px;
    border: none;
    margin-left: auto;
 }

 .grid-contaner {
  display: grid;
  /* grid-template-columns: 20px 10px 10px; */
   
 }

 .fifth-class-text {
  color: #F49867;
  font-weight: bold;
  font-size: 62px;

 }

 .fifth-class-first-img {
  width: 400px;
  height: 280px;

 }

 .fifth-class-first-div {
  background-color: #042C54;
  /* width: 400px;  */
  /* height: 400px; */
 }

 .fifth-class-first-div p {
  color: white;
  background-color: #042C54;
  padding: 20px;
 }

 .fifth-class-first-div h5 {
  color: white;
  font-weight: bold;
  font-size: 32px;
  background-color: #042C54;
  /* margin: 20px; */
  padding: 20px;
   

 }

 .last-p {
  color: white;
  margin-top: auto;
  /* margin-top: 80px; */
 }

 .remaining-divs {
  background-color:#042C54;
  /* width: 400px; */
  
 }

 .remaining-divs h5 {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color:#042C54;
  padding: 20px;
 }

 .remaining-divs p {
  color: white;
  background-color:#042C54;
  padding: 20px;
 }

 .fifth-class-images {
  width: 400px;
  height: 100px;
 }

 .footer-header {
  width:  100%;
  height: 100px;
  color: #F49867;
  font-weight: 800;
  font-size: 32px;
  display: flex;
  justify-content: center;
   
 }

   
 .footer-p-tag {
  border: 1px solid white;
  width: 250px;
  height: 50px;
  background-color: #031B34;
  color: white;
  padding: 20px;
   
 }

 .footer-p-tag-div {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
   
 }

 /* .header-and-text {
  margin-left: 300px;
   
  
 } */

 /* .header-and-text p {
  border: 1px solid white;
  width: 250px;
  height: 50px;
  background-color: #031B34;
  color: white;
  padding: 30px;
  align-content: center;
  
  
  
 } */



 /* .header-and-text h1 {
  color: #F49867;
  font-weight: bold;
  font-size: 62px;
  align-self: center;

 } */

 /* .big-text-header {
  color: #F49867;
  font-weight: bold;
  font-size: 62px;
  align-self: center;

 } */

 .big-text-gpt {
  color: white;
  font-weight: bolder;
  font-size: 50px;

 }

 .big-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
 }

 .flex-mother {
  display: flex;
  gap: 60px;
 }

 footer p {
  color: white;
  margin-top: 30px;
   
 }

 .first-footer-div {
  width: 250px;
  height: 80px;
  margin-right: 40px;
 }

 .second-footer-div {
  width: 250px;
  height: 180px;

 }

 .third-footer-div {
  width: 250px;
  height: 120px;

 }

 .fourth-footer-div {
  width: 150px;
  height: 140px;

 }

 footer a {
  color: white;
  text-decoration: none;
 }

 .last-text {
  color: white;
  margin-top: 150px;
  margin-left: 400px;
 }
  
    
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
    
.grid-container__cards {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
  


   
 

 


 


 
  
